.gradient{
  background-image: linear-gradient(white,plum)
}  

body {
  font-size: 18x;
  color: black;
}

.centerbox {
  padding: 10px;
  border: solid transparent;
  margin: 210px;
  box-sizing: border-box;
}

.introphoto {
  width: 24%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

.introtext {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.highlight {
  color: plum;
}

.aboutmeheading {
  font-style: italic;
  font-weight: bold;
  color: rgb(228, 112, 228);
}

.aboutmetext {
  color: purple;
  font-size: smaller;
}

.orchid {
  color: rgb(228, 112, 228);
}

.portfolioheading {
  color: rgb(201, 97, 201);
  float: right;
}

.portfoliolistheadings {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  color: rgb(146, 57, 146);
}

.portfoliosubheadings {
  font-weight: bold;
  font-size: smaller;
  color: rgb(78, 2, 78);
}

.portfoliotext {
  color: purple;
  font-size: small;

}

.careerheading {
  color: rgb(155, 81, 155)
}

.listheadings {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  color: rgb(142, 58, 142)
}

.subheadings {
  font-style: italic;
  font-weight: bold;
  font-size: smaller;
  color: rgb(205, 150, 12);
}

.unlinedlist {
  font-size: small;
}

.bonusheading {
  color: rgb(232, 98, 232);
  float: right;
}

.boxes {
  border: 2px solid purple;
  padding: 10px;
  background-color: lightpink;
  margin: auto;
  width: 225px;
  box-sizing: border-box;
}

.boxtext  {
  color: black;
  font-size: x-small;
}

.boxphoto {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}